#skills h2 {
    font-size: 1.2rem;
  }
  
  #skills .row {
    margin-bottom: 30px;
  }
  
  #skills ul {
    padding-left: 10px;
    width: 100%;
  }
  
  ul.custom-bullet {
    list-style:none;
  }
  
  ul.custom-bullet, ol.custom-bullet{
    list-style:none;
  }
  ul.custom-bullet > li, ol.custom-bullet >li {
    clear:left;
  }
  ol.custom-bullet {
    counter-reset: liNum;
  }
  ol.custom-bullet > li {
    counter-increment:liNum 1;
  }
  
  ul.custom-bullet > li:before, ol.custom-bullet > li:before {
    content:"";
    height:1em;
    width:1em;
    display:block;
    float:left;
    margin-left:-1.5em;
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
  }
  ol.custom-bullet > li:before{
    content:counter(liNum);
    text-align:center;
  }
  
  #skills ul.projects {
    list-style: none;
    padding-left: 40px;
    border-left: rgba(212, 212, 212, 0.6) 1px solid;
    /*
      background-image: linear-gradient(black 5%, rgba(255,255,255,0) 0%);
      background-position: left;
      background-size: 1px 17px;
      background-repeat: repeat-y;
    */
  }
  
  #skills ul.projects>li {
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
  }
  
  .projects a {
    text-decoration: underline;
  }
  
  .location {
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 0 0 2px 0;
  }
  .position {
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 0 0 2px 0;  
  }
  .resp {
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 0 0 10px 0;
  }
  
  .env {
    display: block;
    font-weight: 700;
    width: 100%;
    padding: 0 0 10px 0;
  }
  
  .date {
      display: block;
      font-weight: 700;
      width: 100%;
      padding: 0 0 2px 0;
  }
  .company-name {
      display: block;
      font-weight: 700;
      width: 100%;
      padding: 0 0 2px 0;
  }
  .company-desc {
      display: block;
      font-weight: 700;
      width: 100%;
      padding: 0 0 2px 0;
  }
  .project-resp {
      display: block;
      font-weight: 700;
      width: 100%;
      padding: 0 0 10px 0;
  }
  .project-desc {
      display: block;
      width: 100%;
      padding: 0 0 10px 0;
  }
  .project-tech {
      display: block;
      font-weight: 700;
      width: 100%;
      padding: 0 0 10px 0;
  }

  #skills h2 {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  
  #skills a {
    text-decoration: underline;
  }